/* HTML SELECTOR */
body {
  background-color: #f0f0f0;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: "Oxygen"
}

h2 {
  font-size: 30px;
  font-family: "Abel"
}

h3 {
  font-size: 25px;
  font-family: "Oxygen";
}

hr {
  border-style: dotted none none;
  border-color: #888888;
  border-width: 5px;
  width: 20%;
}

/* CLASS SELECTOR */
.row {
  margin: 0;
}
/* First Row */
.first-row {
  padding: 1%;
  color: #fff;
  background-color: Black;
}

.profile, .contactinfo, .intro, .languages, .reference {
  margin: 20px 0;
}

/* Profile Section */
.profile {
  text-align: center;
}

.YusufProfile {
  width: 150px;
  border-radius: 10%;
  margin-bottom: 20px;
}

/* Contact Section */
.contactinfo {}

.contact-table {}

/* Intro Section */
/* Language Section */
.table {
  border-collapse: collapse;
  width: 105%;
}
.td {
  padding-left: : 0px;
  padding-right: 0px;
}
/* Reference Section */
/* Second Row */
.second-row {
  padding: 1%;
}

ul {
  list-style: url('/media/examples/rocket.svg');
  line-height: 1.5;
}

h4 {
  font-size: 20px;
  font-family: "Oxygen";
  line-height: 1.5;
}

h5 {
  font-size: 15px;
  font-family: "Abel";
  font-weight: lighter;
}

.whiteline {
  border-color: #888888;
  border-width: 3px;
  width: 70%;
  border-style: solid none none;
  text-align: center;
  margin: 5% 0 5% 0;
}

.third-row {
  padding: 1%;
}

/* Making Space Star */
.firststar {
  color: Black;
}

.laststar {
  color: #f0f0f0;
}
